html,
body {
  color: #333;
  font-size: 16px;
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  margin: 0.5em;
  max-width: 700px;      
  padding: 0;
  text-decoration-skip: ink;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

code {
  background-color: rgba(0, 0, 0, 0.02);
}

img {
  width: 100%;
}

pre {
  font-size: 80%;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: blue;
}

.nav-links a:visited {
  color: blue;
}

.content {
  line-height: 1.5em;
}

.highlight {
  border-radius: 3px;
  position: relative;
  margin: 40px 0;
}

.highlight pre {
  padding: 10px;
}

.archive {
  list-style: none;
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline;
}

.footer-links li::before {
  content: '/';
  position: relative;
}

.footer-links li:first-child::before {
  display: none;
}
