html,
body {
  color: #333;
  font: 16px sans-serif;
  margin: 0.5em;
  padding: 0;
  text-decoration-skip: ink;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}


.header {
  
}

.nav {
  
}

code {
  background-color: rgba(0, 0, 0, 0.02);
}

img {
  width: 100%;
}

pre {
  font-size: 80%;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: blue;
}

.nav-links a:visited {
  color: blue;
}

header,
.content,
footer {
  max-width: 700px;  
}

.content {
  line-height: 1.5em;
}

.highlight {
  border-radius: 3px;
  position: relative;
  margin: 40px 0;
  font-size: 14px;
}

.highlight pre {
  padding: 10px;
}

.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #111;
}

.archive-title {
  font-size: 32px;
  margin-top: 60px;
}

.archive-item {
  margin: 5px 0 15px;
  padding: 0;
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 14px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 150ms ease;
  margin: 0 15px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #222;
}

.footer-links li::before {
  content: '/';
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}
.footer-links-kudos img {
  position: relative;
  top: 6px;
  margin-left: 2px;
}

@media (min-width: 600px) {
  .header {
    padding: 0 0 1em 0;
  }

  .nav-logo {
    margin-top: -13px;
  }

  .nav-logo img {
    max-height: 50px;
  }

  .nav-links {
    font-size: 18px;
  }

  .nav-links li {
    margin: 0 0 0 30px;
  }

  .content {
    font-size: 19px;
    line-height: 1.8;
  }

  .highlight {
    font-size: 16px;
    margin: 40px -20px;
  }

  .archive {
    text-align: left;
  }

  .archive-title {
    font-size: 38px;
  }

  .archive-item-date {
    font-size: 19px;
    text-align: right;
    float: right;
  }

  .archive-item-link {
    text-overflow: ellipsis;
    max-width: calc(100% - 120px);
    white-space: nowrap;
    overflow: hidden;
  }

  .article-title {
    font-size: 42px;
  }

  .article-duration {
    font-size: 12px;
  }

  .footer-links {
    font-size: inherit;
  }
}
