<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/screen.css"></link>
    <link rel="stylesheet" href="/css/syntax.css"></link>
  </head>
  <body>
    <header><a href="/"><h1>amoeba.github.io</h1></a></header>
