@import "github.css";

$width: 640px;
$color_link: blue;

a {
  color: $color_link;
  text-decoration-skip-ink: auto;
}

body {
  background-color: #fffff0;
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.5rem;
  max-width: $width;
  padding: 0.5rem;
}

header,
nav {
  margin-bottom: 0.25rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

header div:last-child {
  flex-grow: 2;
  text-align: right;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display: inline-block;
}

header h1 {
  font-size: 125%;
  margin: 0;
}

header a,
nav a {
  text-decoration: none;
}

nav a:visited {
  color: $color_link;
}

nav a:hover,
header a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li::after:last-child {
  content: " ⬩"
}

nav ul li:last-child {
  margin-right: none;
}

footer {
  text-align: center;
}

footer a,
footer a:visited {
  text-decoration: none;
}

p {
  margin-block: 1lh;
}

pre {
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  padding: 0.5rem;
  overflow-x: scroll;
}

p.update {
  background-color: rgba(255, 255, 0, 0.75);
  margin: 1.5rem 0;
  padding: 0.5rem;
}

img {
  max-width: 100%;
}

.projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projects li {
  margin-bottom: 1.5rem;
}

.projects li img {
  margin: 1.5rem 0;
}

li>p {
  margin: 0.25em 0;
}

blockquote {
  font-style: italic;
}

// Tags
.tag {
  background-color: #eee;
  padding: 0.25em 0.5em;
  border-radius: 0.2em;
}

.tag a,
.tag a:visited {
  text-decoration: none;
}

// Post Frontmatter
.frontmatter>p {
  margin: 0;
  padding-block: 0.25lh;
}
